<main>
    <h1>Carrito</h1>

    <div class="lista-container cart-container">
        <ul class="lista-detalles ">
            <li>Img</li>
            <li>Producto</li>
            <li>Precio</li>
            <li>Cantidad</li>
            <li>Acciones</li>
        </ul>
    </div>
    {{#each products}}
    <div class="cart-container">
        <ul class="cart-detalles">
            <li><img src="{{this.product.file}}" alt="{{this.product.title}}"></li>
            <li>{{this.product.title}}</li>
            <li>${{this.product.price}}</li>

            <li>
                <button class="update-product-button" data-product-id="{{this.product._id}}"
                    data-action="decrease">-</button>
                {{this.quantity}}
                <button class="update-product-button" data-product-id="{{this.product._id}}"
                    data-action="increase">+</button>
            </li>

            <li><button class="deleteProductButtons" data-product-id="{{this.product._id}}">Eliminar</button></li>
        </ul>
    </div>
    {{/each}}

</main>

<script src="/static/assets/js/carts.js"></script>