<main>
    <h1>Home</h1>


    {{#if isUser}}

    <div class="home-container">
        {{#each products}}
        <ul>
            <li>
                <h4>{{this.title}}</h4>
            </li>
            <img src="{{this.file}}" alt="{{this.title}}">
            <li><strong>${{this.price}}</strong></li>

            <button type="button" class="addToCart" data-product-id="{{this._id}}">Agregar Al Carrito</button>
        </ul>

        {{/each}}
    </div>

    <div class="container-pages">
        {{#if hasPrevPage}}
        <a href="/?page={{prevPage}}">Anterior</a>
        {{/if}}

        {{#if hasNextPage}}
        <a href="/?page={{nextPage}}">Siguiente</a>
        {{/if}}

        <br>
        <p>Página {{currentPage}} de {{totalPages}}</p>
        <br>
    </div>


    {{else}}
    <h2>No tienes acceso para ver los productos</h2>
    {{/if}}

</main>


<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>

<script src="/static/assets/js/home.js"></script>