<h1>Usuarios</h1>

<div>
    <input type="text" id="chatbox">
</div>

<ul>
    {{#each users}}
    <li>Bienvenid@ {{this.first_name}}</li>

    <br>

    {{/each}}
</ul>

{{#if hasPrevPage}}
<a class="button-page" href="/api/users?page={{prevPage}}">Página anterior</a>
{{/if}}

{{#if hasNextPage}}
<a href="/api/users?page={{nextPage}}">Página Siguiente</a>
{{/if}}

<p>Página {{currentPage}} de {{totalPages}}</p>